    .slider {
        @apply w-full grow bg-transparent appearance-none;
    }

  .slider:focus {
  }
  .slider::-webkit-slider-runnable-track {
    @apply h-1 bg-snow-1 dark:bg-night-1 rounded appearance-none w-full;
  }
  .slider::-webkit-slider-thumb {
    @apply rounded-full h-5 w-5 bg-frost-3 appearance-none shadow border-0;
  }
  .slider:focus::-webkit-slider-runnable-track,
  .slider:focus::-webkit-slider-thumb {
    @apply ring-2 ring-red;
  }
  .slider::-moz-range-track {
    @apply h-1 bg-snow-1 dark:bg-night-1 rounded appearance-none w-full;
  }
  .slider::-moz-range-thumb {
    @apply rounded-full h-5 w-5 bg-frost-3 appearance-none shadow border-0;
  }
  .slider::-ms-track {
    @apply h-1 bg-snow-1 dark:bg-night-1 rounded appearance-none w-full;
  }
  .slider::-ms-fill-lower {
    @apply bg-frost-0;
  }
  .slider::-ms-fill-upper {
    @apply bg-frost-0;
  }
  .slider::-ms-thumb {
    @apply rounded-full h-5 w-5 bg-frost-3 appearance-none shadow border-0;
  }
  .slider:focus::-ms-fill-lower {
    @apply bg-frost-0;
  }
  .slider:focus::-ms-fill-upper {
    @apply bg-frost-0;
  }
